html, body {
  height: 100%;
  margin: 0;
}

button {
  display: inline-block;
  width: auto;
  background-color: #336799;
  color: white;
  border: 2px solid black;
  border-width: 2px;
  border-radius: 10px;
  margin: 1px;
  padding: 0 1em;
  cursor: pointer;
}

button:hover  {
  background-color: #5387b9;
  color: white;
}

button:active {
  background-color: #73a7d9;
  color: black;
}

#App {
  text-align: center;
}

#App-header {
  overflow: hidden;
  background-color: #336799;
  height: calc(7vh - 2px);
  text-align: left;
  font-size: 100%;
  color: white;
  border-bottom: 2px solid black;
  padding: 0.5vh;
  margin: 0;
}
#App-header h1 {
  margin: 0;
  padding: 0;
}
#App-header p {
  margin: 0;
}

#App-footer {
  background-color: #336799;
  position: fixed;
  bottom: 0;
  height: calc(3vh - 2px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: max(10pt, 1vmin);
  color: white;
  border-top: 2px solid black;
}
#App-footer p {
  margin: 0.2em;
}

#tabview {
}

.tabs {
  height: 2.5vh;
  margin: 0;
  padding: 0;
  text-align: left;
}

.tabs p {
  height: calc(2.5vh - 3px);
  display: inline-block;
  width: auto;
  background-color: #336799;
  color: white;
  border: 2px solid black;
  border-width: 2px 2px 0 2px;
  border-radius: 10px 10px 0 0;
  margin: 1px 1px 0 0;
  padding: 0 1em;
  cursor: pointer;
}

.tabs p:hover {
  background-color: #5387b9;
  color: white;
}
.tabs p.active {
  background-color: #73a7d9;
  color: black;
}
.tabs p.active:hover {
  background-color: #5387b9;
  color: white;
}

.tabBodies {
  height: 86.5vh;
}

#mapview {
  float: left;
  height: 86.5vh;
}

#map { height: 100%; }

.leaflet-container {
  width: 100%;
  height: 100%;
}

.leaflet-control-layers-list {
  display: inline-block;
  text-align: left;
}

#tableview {
  float: left;
  height: 86.5vh;
  overflow: scroll;
}


#data-table {
  border-top: 2px solid black;
}
#data-table th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #336799;
  color: white;
  border: 1px solid black;
  border-bottom: 2px solid black;
  padding: 0.25em;
  cursor: pointer;
}
#data-table th a {
  color: #b3e7ff;
}
#data-table th a:link {
  color: #b3e7ff;
}
#data-table th a:visited {
  color: #b3e7ff;
}
#data-table th a:hover {
  color: #93c7df;
}
#data-table th a:active {
  color: #73a7bf;
}
#data-table tr.active {
  background-color: #ffff00;
}
#data-table tr:nth-child(odd) {
  background-color: #f3f6fa;
}
#data-table tr.active:nth-child(odd) {
  background-color: #f3f600;
}
#data-table tr td {
  text-align: left;
  border: 1px solid black;
  margin: 0;
  padding: 0.25em;
  cursor: pointer;
}

#dataview {
  float: left;
  height: 85.5vh;
  padding: 0.5em 0;
}

#filter-definition {
  text-align: left;
  padding: 1em;
}

.addButton {
  stroke: #008000;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.addButton:hover {
  stroke: #00a000;
}

.addButton:active {
  stroke: #00c000;
}

.addButtonDisabled {
  stroke: grey;
  display: inline-block;
  vertical-align: middle;
  cursor: not-allowed;
}

.removeButton {
  stroke: #c00000;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.removeButton:hover {
  stroke: #a00000;
}

.removeButton:active {
  stroke: #800000;
}

.removeButtonDisabled {
  stroke: grey;
  display: inline-block;
  vertical-align: middle;
  cursor: not-allowed;
}

#symbologyview {
  float: left;
  height: 85.5vh;
  padding: 0.5em 0;
}

#symbology-definition {
  text-align: left;
  padding: 0 1em;
}